---
import feather from "feather-icons";

import ContactsLink from "../components/ContactsLink.astro";

import { address, email, phone } from "../vars.js";

const mapIcon = feather.icons.map.toSvg();
const mapClock = feather.icons.clock.toSvg();

const links = {
  phone: {
    iconType: "phone",
    content: phone,
    color: "blue",
    href: `tel:${phone}`,
    ariaDescription: `Numero di telefono: ${phone}`,
  },
  mail: {
    iconType: "mail",
    content: email,
    color: "green",
    href: `mailto:${email}`,
    ariaDescription: `Indirizzo di posta elettronica: ${email}`,
  },
};
---

<section
  id="contacts"
  class="section-contacts"
  aria-labelledby="heading-contacts"
>
  <div class="container contacts-container">
    <h2 id="heading-contacts">Contatti</h2>
    <div class="contacts-grid">
      <div class="contacts-info">
        <h3><Fragment set:html={mapClock} /> Orari</h3>
        <ul class="business-hours list-reset">
          <li>
            Dal Lunedì al Giovedì: <span>08:30 - 12:30 | 14:00 - 18:30</span>
          </li>
          <li>Venerdì: <span>08:30 - 14:30</span></li>
          <li>Sabato e Domenica: <span>chiuso</span></li>
        </ul>
        <div class="contacts-links">
          <ContactsLink {...links.phone} />
          <ContactsLink {...links.mail} />
        </div>
      </div>
      <div class="contacts-location">
        <h3 class="contacts-h3">
          <Fragment set:html={mapIcon} /> Dove Siamo
        </h3>
        <address>{address}</address>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2784.676065521506!2d7.351077076331064!3d45.73759081515604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4788dfdb7b2269ad%3A0xd33d5ee6b4426e40!2sStudio%20Casola%20Visentin!5e0!3m2!1sit!2sit!4v1761298102467!5m2!1sit!2sit"
          width="500"
          height="350"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>

<style>
  .contacts-grid {
    margin-top: var(--below-heading-margin);
    display: grid;
    grid-row-gap: var(--size-8);
    grid-template-areas:
      "contacts"
      "location";
  }

  .map {
    width: 100%;
  }

  @media (min-width: 580px) {
    .contacts-grid {
      grid-template-areas: "contacts location";
      grid-template-columns: 1fr 1fr;
      grid-column-gap: var(--section-grid-column-gap);
    }

    .map {
      max-width: 25rem;
    }
  }

  .contacts-info {
    grid-area: contacts;
  }

  .section-contacts {
    background-color: var(--gray-2);
  }

  .contacts-container {
    background-color: white;
    border-radius: var(--border-radius);
    padding: var(--size-4) var(--size-3);
    box-shadow: var(--shadow-3);
  }

  .business-hours {
    margin-top: var(--below-heading-margin);
  }

  .business-hours li {
    color: var(--text-color-body);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .contacts-links {
    margin-top: var(--below-heading-margin);
    display: grid;
    grid-row-gap: var(--gap-align-icons);
  }

  h3 {
    display: flex;
    gap: var(--gap-align-icons);
    align-items: center;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-4);
    color: var(--gray-7);
  }

  .contacts-location {
    grid-area: location;
  }

  .contacts-location address {
    margin-top: var(--below-heading-margin);
    margin-bottom: var(--below-heading-margin);
    font-size: var(--content-font-size);
    color: var(--text-color-body);
  }
</style>
