---
import feather from "feather-icons";

const {
  iconType,
  content,
  color = "blue",
  href = "#",
  ariaDescription,
} = Astro.props;

const icon = feather.icons[iconType].toSvg();
---

<a href={href} class="contacts-link" data-color=`${color}`>
  <span class="visibly-hidden">{ariaDescription}</span>
  <Fragment set:html={icon} />
  {content}
</a>

<style>
  a[data-color="blue"] {
    background-color: var(--color-blue-light);
  }

  a[data-color="blue"]:hover {
    background-color: var(--color-blue-dark);
  }

  a[data-color="green"] {
    background-color: var(--color-green-light);
  }

  a[data-color="green"]:hover {
    background-color: var(--color-green-dark);
  }

  .contacts-link {
    display: flex;
    justify-content: center;
    width: 15rem;
    gap: var(--size-2);
    padding-block: 1em;
    padding-inline: 2em;
    border-radius: var(--radius-3);
    color: white;
    transition: background-color 200ms ease-in;
    text-decoration: none;
  }
</style>
