---
import { address, phone, email, piva } from "../vars.js";
---

<footer class="page-footer">
  <div class="container footer-container">
    <h2>Studio Casola Visentin</h2>
    <address>{address}</address>
    <a href=`tel:${phone}`>
      <span class="visibility-hidden">Numero di telefono: {phone}</span>
      {phone}
    </a> |
    <a href=`mailto:${email}`>
      <span class="visibility-hidden"> Indirizzo di posta elettronica </span>
      {email}
    </a>
    <p class="footer-vat-code">P.IVA: {piva}</p>
  </div>
</footer>

<style>
  .footer-title {
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-3);
  }
  .page-footer {
    padding-block: var(--size-6);
    padding-inline: var(--size-2);
    background-color: var(--blue-12);
    color: white;
    text-align: center;
  }

  .page-footer h2 {
    color: inherit;
    text-align: center;
    min-width: 100%;
    font-size: var(--font-size-3);
  }

  .page-footer a {
    color: var(--blue-4);
    text-decoration-color: var(--blue-4);
  }

  .footer-vat-code {
    min-width: 100%;
    color: inherit;
  }
</style>
